<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy;Doma 2022</span>
        <span class="text-muted">Categories</span>
        <span class="text-muted">Contact</span>
        <span class="text-muted">Become a seller</span>
    </div>
</footer>