<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy;GoLodge 2022</span>
        <span class="text-muted">&copy;Oladotun Adekomaya</span>
    </div>
</footer>